{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  
   <div class="jumbotron">
    <h1>Bienvenu sur la boutique Vinted Clone</h1>
    <h2>Ici vendez et achetez tout ce que vous voulez <!DOCTYPE html></h2>
   </div>
{% endblock %}
