{% extends 'base.html.twig' %}

{% block title %}ajouter une categorie{% endblock %}

{% block body %}
  <h1 class="text-center">Ajouter un Article</h1>
  <div class="container">
   <div class="row justify-content-center">
    <div class="col-6">
      {{ form(formulaireArticle) }}
  </div>
  </div>
  </div>
 

 
{% endblock %}
