{% extends 'base.html.twig' %}

{% block title %}liste des articles{% endblock %}

{% block body %}
<h1 class="text-danger">Vinted Clone Erreur 403 </h1>
  <h1>Votre statut ne permet pas d'accéder à cette page</h1>
  
{% endblock %}